<footer role="contentinfo" id="footer">
	<h2 class="visuallyhidden">Website tertiary content eg. blog, getting in touch.</h2>
	<div class="copy">
		<ul>
			<li>
				<a href="http://brootaylor.com" rel="external">Bruce Taylor's Blog</a>
			</li>
			<li>
				<a href="mailto:info@wedgwooddesign.com">Get in touch</a>
			</li>
		</ul>
		<small>&copy; 2015&ndash;<time datetime="2019">2019</time> Wedgwood Design. All rights reserved.</small>
	</div>
	<small class="reg">Wedgwood Design Limited. Registered in England and Wales No. 9091468. Registered Office: Victoria House, Staplefield Lane, Staplefield, West Sussex, RH17 6AS</small>
</footer>