<footer role="contentinfo" id="footer">
	<h2 class="visuallyhidden">Website tertiary content eg. copyright information and getting in touch.</h2>
	<div class="copy">
		<small>&copy; 2015&ndash;<time datetime="{% year %}">{% year %}</time> {{ site.title }}. All rights reserved.</small>
		<ul>
			<li>
				<a href="mailto:brootaylor@gmail.com">Contact us</a>
			</li>
		</ul>
	</div>
	<small class="reg">Wedgwood Design Limited. Registered in England and Wales No. 9091468. Registered Office: Victoria House, Staplefield Lane, Staplefield, West Sussex, RH17 6AS</small>
</footer>
